<div *ngIf="subFlowFields$ | async as fields">
    <div class="mt-5 mb-5">
        <h5 class="font-weight-bold">{{ fields.title_myself }}</h5>
    </div>
    <form class="justify-content-center quote-engine-form mb-3" [formGroup]="customisationForm">
        <div
            class="form-row justify-content-center"
            *ngIf="policyHolderFields$ | async as policyHolderFields"
        >
            <ng-container *ngFor="let control of policyHolderFields.controls">
                <div class="form-group col-auto my-1" *ngIf="control.id === 'insured_birthdate'">
                    <label class="col-form-label d-block d-md-inline-block px-3">{{
                        fields.title_birthdate
                    }}</label>
                    <div class="d-inline-block">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" (click)="dp.toggleCalendar()">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                            <input
                                type="text"
                                name="mydate"
                                class="form-control border-2px"
                                placeholder="DD-MM-YYYY"
                                angular-mydatepicker
                                #dp="angular-mydatepicker"
                                [formControlName]="control.id"
                                [options]="dateOptions[policyHolderFields.id]"
                                [defaultMonth]="defaultMonth"
                                [locale]="locale"
                                (click)="dp.toggleCalendar()"
                                (inputFieldChanged)="onDateChanged($event, policyHolderFields.id)"
                                readonly
                            />
                        </div>
                    </div>
                </div>
                <div class="form-group col-auto my-1" *ngIf="control.id === 'insured_gender'">
                    <label class="col-form-label d-block d-md-inline-block px-3">
                        {{ fields.title_gender }}
                    </label>
                    <div class="d-inline-block">
                        <mat-form-field appearance="fill" [floatLabel]="'never'">
                            <mat-select
                                class="d-inline-block"
                                [formControlName]="control.id"
                            >
                                <mat-option
                                    *ngFor="let option of control.options"
                                    [value]="option.value"
                                >
                                    {{ option.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </ng-container>
        </div>
    </form>
    <div class="d-block text-center mb-5" *ngIf="fields.know_more_birthdate">
        <span class="c-pointer text-uex" (click)="openHelptip(fields.know_more_birthdate.id)">{{
            fields.know_more_birthdate.label
        }}</span>
    </div>
    <button
        type="button"
        class="btn btn-info text-white mb-4 d-none d-lg-inline"
        (click)="continue()"
        [disabled]="customisationForm.invalid"
    >
        {{ fields.continue_button_label }}
    </button>
</div>

<nav
    class="navbar fixed-bottom navbar-light bg-white border-top d-lg-none mobile-navbar"
    *ngIf="subFlowFields$ | async as fields"
>
    <div class="form-inline m-auto">
        <button type="button" class="btn btn-outline-warning border-2px" (click)="back()">
            {{ fields.back_button_label }}
        </button>
        <button
            type="button"
            class="btn btn-warning border-2px text-white ml-2"
            [disabled]="customisationForm.invalid"
            (click)="continue()"
        >
            {{ fields.continue_button_label }}
        </button>
    </div>
</nav>
