<div class="container text-center col-12 offset-lg-2 col-lg-8 px-0">
    <form [formGroup]="employeeForm">
        <h5
            *ngIf="durationType == 'ANNUAL' && entityType == 'COMPANY'; else titleOther"
            class="mt-5 mb-4 font-weight-bold"
        >
            {{ subFlow.cover_title.entreprise_annual }}
        </h5>
        <ng-template #titleOther>
            <h5 class="mt-5 mb-4 font-weight-bold">{{ subFlow.cover_title.other }}</h5></ng-template
        >
        <ng-container *ngFor="let item of subFlow.form_controls">
            <ng-container *ngIf="item.id === 'who_to_cover'">
                <div class="form-row">
                    <div class="offset-lg-2 col-lg-8 mb-3 mb-sm-0">
                        <input
                            type="text"
                            class="form-control border-2px"
                            matInput
                            [placeholder]="item.placeholder"
                            aria-label="Number"
                            [formControlName]="item.id"
                            [matAutocomplete]="auto"
                            [ngClass]="{
                                'is-invalid':
                                    employeeForm.get([item.id]).touched &&
                                    employeeForm.get([item.id]).invalid
                            }"
                        />
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                            <mat-option
                                *ngFor="let option of filteredOptions | async"
                                [value]="option"
                            >
                                {{ option.name }}
                            </mat-option>
                        </mat-autocomplete>
                        <div class="text-left mt-2">
                            <span
                                class="c-pointer text-uex"
                                (click)="openHelptip(subFlow.know_more_who_to_cover.id)"
                                >{{ subFlow.know_more_who_to_cover.label }}</span
                            >
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="item.id === 'policy_start_date'">
                <h5 class="my-4 font-weight-bold">{{ subFlow.start_date_title }}</h5>
                <div class="form-row">
                    <div class="offset-lg-2 col-lg-8 mb-3 mb-sm-0">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                            <input
                                type="text"
                                class="form-control border-2px"
                                [ngClass]="{
                                    'is-invalid':
                                        employeeForm.get(item.id).invalid &&
                                        employeeForm.get(item.id).dirty
                                }"
                                [placeholder]="item.placeholder ? item.placeholder : item.format"
                                angular-mydatepicker
                                [options]="dateOptions[item.id]"
                                #startDp="angular-mydatepicker"
                                (click)="startDp.toggleCalendar()"
                                (inputFieldChanged)="onStartDateFieldChanged($event)"
                                [formControlName]="item.id"
                                readonly
                            />
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="item.id === 'policy_end_date'">
                <h5 class="my-4 font-weight-bold">{{ subFlow.end_date_title }}</h5>
                <div class="form-row">
                    <div class="offset-lg-2 col-lg-8 mb-3 mb-sm-0">
                        <div class="input-group" [ngClass]="{' mb-3': !dateDiff}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                            <input
                                type="text"
                                class="form-control border-2px"
                                [ngClass]="{
                                    'is-invalid':
                                        employeeForm.get(item.id).dirty &&
                                        employeeForm.get(item.id).invalid
                                }"
                                [placeholder]="item.placeholder ? item.placeholder : item.format"
                                angular-mydatepicker
                                [options]="dateOptions[item.id]"
                                #endDatePickerRef
                                #endDp="angular-mydatepicker"
                                (click)="
                                    !employeeForm.get(item.id).disabled && endDp.toggleCalendar()
                                "
                                [formControlName]="item.id"
                                readonly
                            />
                        </div>
                        <div class="text-right mb-3" *ngIf="dateDiff">
                            <small class="text-muted">
                                {{ dateDiff }}
                            </small>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </form>
    <button
        type="button"
        class="btn btn-info text-white my-5 d-none d-lg-inline"
        [disabled]="employeeForm.invalid"
        (click)="continue()"
    >
        {{ subFlow.continue_button_label }}
    </button>
</div>

<nav class="navbar fixed-bottom navbar-light bg-white border-top d-lg-none mobile-navbar">
    <div class="form-inline m-auto">
        <button type="button" class="btn btn-outline-warning border-2px" (click)="back()">
            {{ subFlow.back_button_label }}
        </button>
        <button
            type="button"
            class="btn btn-warning border-2px text-white ml-2"
            [disabled]="employeeForm.invalid"
            (click)="continue()"
        >
            {{ subFlow.continue_button_label }}
        </button>
    </div>
</nav>
